
gwt-unitCache/

/log/
/test-output/

war/course/
war/edulog/
war/log/
war/login/
war/main/
war/register/
war/session/
war/subject/
war/teacher/

war/WEB-INF/deploy/
war/WEB-INF/classes/

settings.ini
log4j.conf
build.xml